@import './src/variables.scss';


.content {
    grid-area: m;
    background-color: black;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 2em;

}

.canvSize {
    width: 1200px;
    height: 500px;

    border: 2px solid white;

    @include laptop {
        width: 950px;
        height: 500px;
    }

    @include mobile-large {
        width: 650px;
        height: 500px;
    }

}


p {
    line-height: 2em;
}

