.header {
    grid-area: h;
    background-color: #336;

    font-size: 5vh;
    color: white;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.header div {
    padding: 10px;
}

img {
    width: 4em;
    height: 4em;
}


